<FilesMatch "\.(?i:esh)$">
  #ForceType application/force-download
  ForceType application/octet-stream
  Header set Content-Disposition attachment
  Header set Content-Description File-Transfer
  #Header set Cache-Control "store, no-cache, must-revalidate"
</FilesMatch>

# <FilesMatch "\.(?i:esh)$">
#     ForceType application/octet-stream
# #    Header set Content-Disposition attachment
# </FilesMatch>
php_flag display_errors 0
php_flag short_open_tag 1
php_flag allow_url_include 0
php_flag ignore_repeated_errors 0
php_flag expose_php 1
php_value allow_url_fopen 1
php_value max_input_vars 10000
php_value register_argc_argv 0
php_value file_uploads 1
php_value max_file_uploads 20
ErrorDocument 400 "/htm_error.html"
ErrorDocument 403 "/htm_error.html"
ErrorDocument 404 "/htm_error.html"
ErrorDocument 500 "/htm_error.html"