body
{ background: #FFF url(background.jpg) repeat;
  color: #D5D2D6;
}

blockquote{border-color: #109CEF;}

#main
{ background: #FFF url(main.png) repeat;
  color: #5F74C7;
}

#links, #footer, #menu li a
{ background: #5b6782;
  /* background: #FFF url(gradient.png); */
  color: #FFF;
  border-color: #5F74C7;
}

#links a, #footer a
{ background: transparent;
  color: #FFF;
  margin: 4px;
}

#links a:hover, #footer a:hover
{ border-bottom: 4px solid #e46740;
  color: #FFF;
}

#logo
{ background: #FFF url(banner.jpg) center no-repeat;
  color: #5F74C7;
  font: 400% arial, sans-serif;
  border-color: #5F74C7;
}

h1, #column1 h1, #column2 h1
{ background: transparent;
  color: #5F74C7;
  border-color: #787878;
}

#menu
{ background: transparent;
  color: #D5D2D6;
}

.sidebaritem
{ background: #FFF;
  color: #000;
  border: 1px solid;
}

#menu li a#selected
{ background: #303E9F;
  color: #FFF;
}

#menu li a:hover, #menu li a#selected:hover
{ background: #e46740;
  color: #FFF;
}

#content, #column2, #column2 a
{ background: #FFFFFF;
  color: #000000;
  border-color: #D5D2D6;
}

#column2 a:hover
{ background: #FFF;
  color: #5F74C7;
  border-color: #5F74C7;
}

.sbilinks li a, .sidebaritem a
{ background: #FFF url(arrow.png) no-repeat left center;
  color: #5F74C7;
}

.sbilinks li a:hover, .sidebaritem a:hover
{ background: #5F74C7 url(arrow.png) no-repeat left center;
  color: #FFF;
}

/* Based on Nifty Corners: rounded corners without images */
/* By Alessandro Fulciniti */
/* https://www.html.it/articoli/nifty/index.html */
.rtop, .rbottom{background: #5F74C7;}
.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4,
.rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4{background: #5F74C7;}
